INSERT INTO `fm_site_metas`
(`key`, `value`)
VALUES
('campus', '大学城');
INSERT INTO `fm_site_metas`
(`key`, `value`)
VALUES
('campus', '东风路');
INSERT INTO `fm_site_metas`
(`key`, `value`)
VALUES
('campus', '龙洞');
INSERT INTO `fm_site_metas`
(`key`, `value`)
VALUES
('role', 'admin:admin');
INSERT INTO `fm_site_metas`
(`key`, `value`)
VALUES
('role', 'editor:editor');

INSERT INTO `fm_roles`
(`name`)
VALUES
('admin');

INSERT INTO `fm_roles`
(`name`)
VALUES
('editor');

INSERT INTO `fm_users`
(`login_name`, `display_name`, `password`, `active`) 
VALUES
('admin', 'admin', SHA1('password_and_your_encrypt_key_here'), 1);

INSERT INTO `fm_users_roles`
(`user_id`, `role_id`)
VALUES
(1, 1);

INSERT INTO `fm_categories`
(`name`)
VALUES
('321 开学啦');

INSERT INTO `fm_categories`
(`name`)
VALUES
('学习攻略');

INSERT INTO `fm_categories`
(`name`)
VALUES
('生活 Tips');

INSERT INTO `fm_categories`
(`name`)
VALUES
('校园 Views');
