body{
	background:url(../images/bg.png) repeat;
}
a{
	color:#000;
}
a:hover{
	text-decoration:underline;
}
/*!header
---------------------------*/
.header{
	min-width:960px;
	width:100%;
	height:37px;
	background:url(../images/nav_index.png) repeat-x;
}
.header ul{
	width:569px;
	margin:auto;
}
.header li{
	height:37px;
	line-height:37px;
	float:left;
}
.header a{
	border-right:2px solid #192226;
	padding:0 16px;
	font-size:16px;
	color:#192226;
	text-shadow:0 1px 0 rgba(255,255,255,1);
}
.header a:hover{
	text-decoration:underline;
}
.header .last-one a{
	border:none;
}
/*!main
----------------------------------*/
.main{
	width:960px;
	margin:auto;
}
/*!header*/
.main-header{
	width:100%;
	height:367px;
	position:relative;
	background:url(../images/blackboard_index.png) no-repeat left top;
}
.gallery{
	width:525px;
	position:absolute;
	top: 28px;
	right:33px;
}
.img-button{
	display:block;
	position:absolute;
	top:88px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/css-sprite.png) no-repeat;
}
#prev-img{
	width:52px;
	height:65px;
	left:0;
	background-position:0 0;
}
#prev-img:active{
	background-position:-52px 0;
}
#next-img{
	width:59px;
	height:68px;
	right:0;
	background-position:-210px 0;
}
#next-img:active{
	background-position:-151px 0;
}
#img-block{
	width:374px;
	height:250px;
	position:relative;
	margin:auto;
	border:1px solid #131516;
}
#img-block img{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
.non-ie #img-block a:first-child img{
	z-index:100;/*ie7上会有bug*/
}
#img-description{
	width:100%;
	height:30px;
	line-height:29px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:1000;
	overflow:hidden;
	white-space:nowrap;
	background-color:#000;
	background-color:rgba(0,0,0,0.72);
	text-indent:2em;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
	font-size:16px;
	color:#fff;
}

.other-campus{
	position:absolute;
	left: 278px;
	top: 284px;
}
.other-campus a{
	width:3em;
	margin-right:18px;
	font-size:14px;
	color:#fff;
}
.other-campus a:hover{
	text-decoration:underline;
}
.in-where{
	position:absolute;
	left: 384px;
	top: 226px;
	font-size:18px;
	color:#fff;
    width:54px;
    text-align:center;
}
/*!main-content*/
.main-container{
	width:920px;
	padding:20px;
	background-color:#fffbe3;
}
.main-content{
	width:680px;
	float:left;
	padding-top:20px;
	background-color:#faf1c0;
}
.main-content ul{
	width:292px;
	height:311px;
	position:relative;
	float:left;
	margin-left:32px;
	padding-top:80px;
}
.tag-newterm{
	background:url(../images/tag-newterm.png) no-repeat left top;
}
.tag-study{
	background:url(../images/tag-study.png) no-repeat left top;
}
.tag-tips{
	background:url(../images/tag-tips.png) no-repeat left top;
}
.tag-view{
	background:url(../images/tag-view.png) no-repeat left top;
}
.main-content li{
	width:80%;
	overflow:hidden;
	white-space:nowrap;
	margin:0 0 10px 28px;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	font-size:14px;
}
.main-content li.last-one{
	width:auto;
	position:absolute;
	right: 32px;
	bottom: 80px;
}
.main-content a{
	padding-left:0.5em;
	color:#000;
}
.main-content a:hover{
	text-decoration:underline;
}
/*!sidebar*/
.sidebar{
	width:220px;
	float:right;
}
.sidebar h2{
	line-height:2em;
	font-size:16px;
	border-bottom:1px dashed #000;
}
.to-Eeye img{
	display:block;
	width:194px;
	height: 162px;
	margin:10px auto;
	border:1px solid #b3b1af;
}
.to-Eeye a{
	display:block;
	padding-right:1em;
	font-size:16px;
	text-align:right;
}
.sidebar ul{
	margin-top:30px;
}
.sidebar li{
	width:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
}
.sidebar ul a{
	font-size:14px;
	color:#3a3a3a;
}
.sidebar .copyright{
    margin-top:140px;
}
.sidebar img{
    width:200px;
    height:100%;
}
.sidebar h1{
    font-size:30px;
}
/*!footer
----------------------------------------*/
.footer{
	min-width:960px;
	width:100%;
	height:170px;
	background-color:#7e8792;
	font-size:12px;
	color:#fff;
}
.footer a{
	color:#fff;
}
.footer div{
	width:700px;
	margin:0 auto;
	margin-bottom:10px;
	font-size:14px;
}
.footer ul{
	width:50%;
	float:left;
}
.footer li{
	height:34px;
	line-height:34px;
	margin-top:14px;
	padding-left:30px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	background:url(../images/css-sprite.png) no-repeat;
}
li.to-student{
	background-position:-520px 4px;
}
li.to-gdutnav{
	background-position:-520px -43px;
}
li.to-bookshelf{
	background-position:-520px -91px;
}
li.to-course{
	background-position:-520px -136px;
}
.footer p{
	line-height:1.6em;
	text-align:center;
}
