				
		<div class='footer'>
			<div class="vtmer-productions clearfix">
				<ul>
					<li class='to-student'><a href="#">新生专题网 | 专属广工新生的第一站</a></li>
					<li class='to-gdutnav'><a href="#">广工导航网 | 广工人自己的导航</a></li>
				</ul>
				<ul>
					<li class='to-bookshelf'><a href="#">工大书架 | 在这里，我们传承的不仅仅是书本</a></li>
					<li class='to-course'><a href="#">工大选修 | 广工人的选修课指南</a></li>
				</ul>
			</div>
			<p class="copyright">Copyright &copy; 2013 Product of Vtmer 维生数工作室</p>
			<p><a href="#">关于我们</a>&nbsp;&nbsp;&nbsp;<a href="#">联系我们</a></p>
		</div>