    <!-- footer -->
    <div id="footer">
      <img src="{{ static_url('front/images/footer.png') }}" />
      <div>
        <p>2010数字中心制作</p>
        <a href="#">工大在线</a>|
        <a href="#">工大后院</a>|
        <a href="#">南国飘香</a>|
        <a href="/backend">后台登录</a>
      </div>
    </div>
    <script type="text/javascript">
      !function(){window.console||(window.console={}),window.console.log||(window.console.log=function(){}),console.log("Hello, world\n\u5bf9\u6211\u4eec\u611f\u5174\u8da3\uff1f\u4e00\u8d77\u6765\u73a9\u5427\uff01 _(:\u0437\u309d\u2220)_\nhttp://vtmerhome.com")}();
    </script>
