    <!-- header是首页的头部，包含header_up和header_down两个子DIV  -->
    <div id="header">
      <div id="headerUp">
        <div><img src="{{ static_url('front/images/header1.gif') }}" /></div>
        <div>
          <img src="{{ static_url('front/images/header2.gif') }}" />
          <a class="gdut" href="#">gdutonline.com</a>
          {% for c in campus %}
          <a href="{{ site_url('/') }}?c={{ c }}">{{ c }}</a>
          {% endfor %}
        </div>
      </div>
      <div id="headerDown">
        <ul>
          <li>
            <a href="{{ site_url('/') }}"><img src="{{ static_url('front/images/header1.png') }}" /></a>
          </li>
          <li>
            <a href="{{ site_url('c/1') }}"><img src="{{ static_url('front/images/header2.png') }}" /></a>
          </li>
          <li>
            <a href="{{ site_url('/map') }}"><img src="{{ static_url('front/images/header3.png') }}" /></a>
          </li>
          <li>
            <a href="{{ site_url('c/2') }}"><img src="{{ static_url('front/images/header4.png') }}" /></a>
          </li>
          <li>
            <a href="{{ site_url('c/3') }}"><img src="{{ static_url('front/images/header5.png') }}" /></a>
          </li>
          <li>
            <a href="{{ site_url('c/4') }}"><img src="{{ static_url('front/images/header6.png') }}" /></a>
          </li>
        </ul>
      </div>
      <div id="school">
        <p>你所在的校区为：<a href="#">{{ visitor.campus }}</a></p>
      </div>
    </div><!-- for header  -->
