    <!-- header是首页的头部，包含header_up和header_down两个子DIV  -->
    <div id="header">
      <div id="headerUp">
        <div><img src="{{ static_url('front/images/header1.gif') }}" /></div>
        <div>
          <img src="{{ static_url('front/images/header2.gif') }}" />
          <a class="gdut" href="#">gdutonline.com</a>
          <a href="#">大学城</a>
          <a href="#">东风路</a>
          <a href="#">龙洞</a>
        </div>
      </div>
      <div id="headerDown">
        <ul>
          <li>
            <a href="#"><img src="{{ static_url('front/images/header1.png') }}" /></a>
          </li>
          <li>
            <a href="#"><img src="{{ static_url('front/images/header2.png') }}" /></a>
          </li>
          <li>
            <a href="#"><img src="{{ static_url('front/images/header3.png') }}" /></a>
          </li>
          <li>
            <a href="#"><img src="{{ static_url('front/images/header4.png') }}" /></a>
          </li>
          <li>
            <a href="#"><img src="{{ static_url('front/images/header5.png') }}" /></a>
          </li>
          <li>
            <a href="#"><img src="{{ static_url('front/images/header6.png') }}" /></a>
          </li>
        </ul>
      </div>
      <div id="school">
        <p>你所在的校区为：<a href="#">大学城校区</a></p>
      </div>
    </div><!-- for header  -->
