<!doctype html>
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>E 眼工大 - GDUT 新生网</title>
  <link href="{{ static_url('front/css/base.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('front/css/detail.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
  <!--container是一个总的容器，包含header,main,footer子DIV    -->
  <div id="container">
    {% include 'front/header.part.html' %}
    <div id="main">
    </div>
    {% include 'front/footer.part.html' %}
  </div><!-- for container  -->
</body>
</html>
