/*
------------------
  2013.2.8
  css reset
------------------
*/

/* -------------------------------------------------
 * Predefine
 * -------------------------------------------------
*/
.clearfix:before,
.clearfix:after{
    display:block;
    visibility:hidden;
    height:0;
    content:'.';
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */

/*解决IE9处理svg出现的错误*/
/*svg:not(:root) {
    overflow: hidden;
}*/

/*设置选中文本的高亮色*/
/*::selection{
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}
::-moz-selection{
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}*/

/*小箭头*/
/*.arrow{
    width:0px;
    height:0px;
    border-style:dashed;//解决IE6不透明黑影问题
    border-color:transparent;
    border-width:6px;
    border-top-right-bottom-left-color:#000;
    border-top-right-bottom-left-style:solid;
}*/

/* -------------------------------------------------
 * Common
 * -------------------------------------------------
*/
/* 1.Prevents iOS text size adjust after orientation change, without disabling user zoom.*/
html{
    min-height:100%;
    -webkit-text-size-adjust: 100%;/* 1 */
    -ms-text-size-adjust: 100%;/* 1 */
    -webkit-font-smoothing:antialiased;
}
body{
    line-height:1.5;
	height:100%;
    font:12px/1.5 Helvetica,arial,'Microsoft YaHei',sans-serif;
    /*text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);*/
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td,
button,select,figure{
    margin:0;
    padding:0;
}
table{
	border-collapse:collapse;/*表格边框合并*/
	border-spacing:0;
}
caption,th,td{ 
    text-align: left; 
}
th,td{
    border:1px solid black;
}
img{
	border:0;
    max-width:100%;/*防止图片溢出容器框*/
    vertical-align:middle;
    -ms-interpolation-mode:bicubic;/*解决ie图片缩放失真*/
}
a{
	text-decoration:none;
	color:black;
    margin:0px;
}
a:focus {
    outline:thin dotted;
}
h1,h2,h3,h4,h5,h6 { 
    font-weight: normal; 
    font-size: 100%;
}
/* ul ol dl */
ul{
	list-style:none outside none;
}
ol{
	list-style:decimal outside none;
}
dt{
    font-weight: bold;
}
button,input,select,textarea{
    font-size:100%;
    font-family:inherit;
	outline: 0 none;
    vertical-align: baseline;
    *vertical-align: middle;
}
textarea{
    overflow: auto;
    vertical-align: top; 
	resize:none;/*防止改变大小*/
}
button,input{
    line-height: normal;
    border:none;
}
button,
html input[type="button"], 
input[type="reset"],
input[type="submit"]
{
    -webkit-appearance: button; /*Corrects inability to style clickable `input` types in iOS.*/
    cursor: pointer; 
    *overflow: visible;
}
button[disabled],
input[disabled]
{
    cursor: default;
}
input[type="checkbox"],
input[type="radio"]
{
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}
fieldset{
    border: 1px solid #000;
}
legend{
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}
/*Removes inner padding and border in Firefox 4+.*/
button::-moz-focus-inner,
input::-moz-focus-inner{
    border: 0;
    padding: 0;
}

/* -------------------------------------------------
 * 非常见标签
 * -------------------------------------------------
*/
abbr[title]{
    border-bottom: 1px dotted;
}
acronym[title]{
    border-bottom: 1px dotted;
}
strong{
    font-weight: bold;
}
blockquote{
    background:#F8FAF2;
    font:italic 14px arial,"SimHei",sans-serif;
    color:#000;
    border-left:4px solid #89ac10;
}
code,kbd,pre,samp{
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}
pre{
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q{
    background:#F8FAF2;
    font:italic 14px arial,"SimHei",sans-serif;
    color:#000;
    border-left:2px solid #89ac10;
    border-right:2px solid #89ac10;
    padding:0px 4px;
}
q:before,
q:after{
    content: "'";
}
small{
    font-size: 80%;
}
sub,sup{
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup{
    top: -0.5em;
}
sub{
    bottom: -0.25em;
}

/* -------------------------------------------------
 * css3 & html5
 * -------------------------------------------------
*/
mark{
    background: #ff0;
    color: #444;
}
/*Corrects `block` display not defined in IE 8/9.*/
article,aside,details,figcaption,figure,footer,
header,hgroup,nav,section,summary{
    display: block;
}
/*Corrects `inline-block` display not defined in IE 8/9.*/
audio,canvas,video{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]){
    display: none;
    height: 0;
}
input[type="search"]{
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{
    -webkit-appearance: none;
}
:-moz-placeholder,
::-webkit-input-placeholder{
  color: #999;
}