body {
  background-color: #fefefe; }

i[class^="icon-"] {
  vertical-align: baseline; }

.span-merge {
  margin-left: 0; }

.modal {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
  .modal form {
    margin-bottom: 10px; }
    .modal form input[type=text],
    .modal form input[type=password],
    .modal form .uneditable-input,
    .modal form .select2-choices {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      height: 14px;
      font-size: 14px;
      border: 1px solid #f0f0f0; }
      .modal form input[type=text].error,
      .modal form input[type=password].error,
      .modal form .uneditable-input.error,
      .modal form .select2-choices.error {
        border-color: #e74c3c; }
    .modal form .uneditable-input {
      line-height: 14px; }
    .modal form .select2-choices {
      box-shadow: none;
      background-image: none;
      /* TODO select2-search-choice-close */ }
      .modal form .select2-choices .select2-search-choice {
        padding: 5px 5px;
        font-size: 13px;
        line-height: 13px;
        box-shadow: none;
        border-radius: 2px;
        background-image: none;
        background-color: #3498db;
        color: #fff;
        border: none; }
      .modal form .select2-choices .select2-search-choice-close {
        display: none; }
    .modal form .select2-container-active .select2-choices {
      border: 1px solid #f0f0f0;
      box-shadow: none;
      background-image: none; }
  .modal .form-horizontal .control-group {
    margin-bottom: 10px; }
  .modal .form-horizontal .control-label {
    width: 60px;
    text-align: right; }
  .modal .form-horizontal .controls {
    margin-left: 70px; }
    .modal .form-horizontal .controls .select2-container {
      width: 100%; }
    .modal .form-horizontal .controls input[type=password],
    .modal .form-horizontal .controls input[type=text],
    .modal .form-horizontal .controls .uneditable-input {
      /* FIXME fullfill */
      width: 97.5%; }
    .modal .form-horizontal .controls .btn {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      padding: 5px 10px; }
      .modal .form-horizontal .controls .btn.pull-right {
        margin-left: 10px; }
      .modal .form-horizontal .controls .btn.pull-left {
        margin-right: 10px; }
    .modal .form-horizontal .controls .btn-inverse {
      color: #000;
      background-color: #f6f6f6; }

.modal-header {
  padding: 10px 15px;
  border-bottom: 0px; }
  .modal-header .close {
    margin-top: 0;
    font-size: 15px;
    line-height: 15px; }
  .modal-header h3 {
    font-weight: normal;
    font-size: 22.5px;
    line-height: 22.5px; }

#login {
  display: -webkit-flex;
  display: flex;
  height: 650px; }

#login-form {
  margin: auto; }
  #login-form input {
    margin: 5px auto;
    border-color: #f0f0f0; }
    #login-form input:focus {
      border-color: #3498db; }
  #login-form input[type="text"],
  #login-form input[type="password"] {
    background-color: #f0f0f0; }

#deactive {
  margin-top: 125px; }
  #deactive .alert h4 {
    margin: 5px 0 10px;
    font-size: 25px;
    line-height: 25px; }
  #deactive .alert-error a {
    color: #b94a48; }

#gb-nav {
  /* fix global nav height */
  height: 40px;
  font-size: 14px;
  background-color: #f0f0f0; }
  #gb-nav .navbar-inner {
    background-color: #fefefe;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  #gb-nav .logo:hover {
    color: #e74c3c; }

.lists-wrapper {
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 575px; }
  .lists-wrapper header {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #efefef; }
    .lists-wrapper header h1 {
      display: inline;
      font-weight: normal; }
    .lists-wrapper header .btn-group .btn {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 1px; }
  .lists-wrapper .lists tr:hover a {
    color: #1d6fa5; }
  .lists-wrapper .lists td {
    width: 1%;
    white-space: nowrap;
    font-size: 12px;
    border: 0; }
    .lists-wrapper .lists td a {
      color: #000;
      text-decoration: none; }
    .lists-wrapper .lists td .tag {
      border-radius: 4px;
      background-color: #bdc3c7;
      color: #fff;
      cursor: pointer;
      margin-right: 5px;
      margin-left: 5px;
      line-height: 15px;
      padding: 6px 8px 5px 8px;
      position: relative; }
      .lists-wrapper .lists td .tag:nth-child(3n + 1) {
        background-color: #e74c3c; }
      .lists-wrapper .lists td .tag:nth-child(3n + 2) {
        background-color: #f1c40f; }
      .lists-wrapper .lists td .tag:nth-child(3n + 3) {
        background-color: #23cc71; }

#posts td.title {
  width: 99%;
  font-size: 16px; }

#users td.name {
  width: 99%;
  font-size: 16px; }

#categories td.name {
  width: 99%;
  font-size: 16px; }

#command-nav {
  border: 1px solid #dedede;
  min-height: 575px;
  -webkit-box-shadow: 0px 1px -10px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px -10px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px -10px 1px rgba(0, 0, 0, 0.1); }
  #command-nav ul {
    margin-top: 70px; }
    #command-nav ul li a {
      height: 55px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-transition: 0.75s;
      -moz-transition: 0.75s;
      -o-transition: 0.75s;
      transition: 0.75s;
      color: #34495e;
      text-decoration: none;
      font-size: 25px;
      line-height: 55px;
      text-align: center;
      border-top: 1px solid #ededed; }
      #command-nav ul li a:hover {
        color: #fff;
        background-color: #e74c3c; }
    #command-nav ul li.active a {
      margin-right: -3px;
      background-color: #fefefe; }
      #command-nav ul li.active a:hover {
        margin-left: 0;
        color: #34495e; }
    #command-nav ul li:last-child {
      border-bottom: 1px solid #ededed; }

.select2-drop {
  border: 1px solid #f0f0f0;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
