#height{
	padding:19%;
}
.freshmen{
	padding:0px 10%;
	text-align:center;
	color:#ddd;
	float:left;
}
.freshmen a{
	color:#F5F5F5;
	text-decoration:none;
	opacity:0.3;
}
.freshmen a:hover{
	color:#ddd;
}
body{
	padding:10px;
	background:url(../images/bg01.jpg);
	background-size:100%;	
}
a{
	color:#000;
	text-decoration:none;
}
#all{
		background:url(../images/bg_twill.png);
}
#logo{
	background:url(../images/logo.png);
	background-size:30%;
	background-repeat:no-repeat;
	background-position:center 20%;
}
/* this CSS is not part of the widget, it is here just as an example of the demo page styling.... Don't copy this one, roll your own. One
 * of the key things about the widget is that it allows you to do your own styling!
 */

#editor {
	max-height: 1200px;
	height: 600px;
	background-color:#fff;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;
}
#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}
