body{
	width: 957px;
	margin:0 auto;
}
.inex-page.list-page,.study-page
{}
#choose{
	background: no-repeat url('../images/choose.png') -6px 7px;;
}
#choose a:hover{
	background: none;
}
.nav {
	background:url("../images/all.png") no-repeat 0 -55px;
	height: 186px;
	border-bottom: solid 10px #f8edad;
}
.nav ul {
	width:100%;
	float:left;
	margin-top:120px;
	margin-left:120px;
}
 .nav .special_head {
	letter-spacing: 30px;
}

.nav .special_head a{
	padding-right:0;
}
.nav .special_tail {
	border: none;
}
.nav li {
	float: left;
	color: #efefef;
	font-size: 16px;
	text-align: center;
	 padding: 0 5px;
	 border-right:solid 2px white ;
}
#nav_ul  a{
 padding: 22px;
color:white;
 position: relative;
 top:0;

   
}

.middle_line{
	background-color:#6d4930;
	overflow: hidden;
}
.middle_line span{
	zoom:1;
	font-size: 16px;
	color: #efefef;
}
.middle_line strong{
	display: inline-block;
	margin:5px 10px;
}
.middle_line a{
	color:white;
}
.middle_one{
	margin-left: 70px;
	padding:0 10px;
	float:left;

}
.middle_two{
	margin-right: 40px;
	padding:0 10px;	
	float:right;
}
.wrapper{
	width:957px;
	background-color: #f8edad;

	overflow: hidden;
}