    <div id="create-category-modal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" class="close" aria-hidden="true">&times;</button>
        <h3>创建新栏目</h3>
      </div>
      <div class="modal-body">
        <form action="" class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="login_name">栏目名</label>
            <div class="controls">
              <input placeholder="栏目名" type="text" name="name" />
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button class="btn btn-inverse pull-right" type="button" data-dismiss="modal">取消</button>
              <a class="btn btn-success pull-right submit" href="#">创建</a>
            </div>
          </div>
        </form>
      </div>
    </div>
