{% extends 'backend/dashboard.html' %}

{% block title %}
文章列表
{% endblock %}

{% block main_content %}
    <div class="container">
      <section role="main" class="row">
        {% if is_admin %}
        {% set current = 'posts' %}
        {% include 'backend/dashboard.admin.command_nav.html' %}
        {% endif %}
        <section id="posts" class="lists-wrapper {% if is_admin %}span9 span-merge{% else %}span12{% endif %}">
          <header class="clearfix">
            <h1>文章</h1>
            <div class="btn-group pull-right">
              <a href="{{ site_url('/backend/post/create') }}" class="btn btn-danger"><i class="icon-fixed-width icon-file"></i><span>写新的</span></a>
            </div>
          </header>
          <section>
            <table class="lists articles table" data-display-category="all">
              {% for post in posts %}
              <tr data-post="{{ post.id }}" data-categories="{% for c in post.categories %}{{ c.id }}{% if not loop.last %},{% endif %}{% endfor %}" class="post-item">
                <td class="icon">
                  {% if post.status %}
                  <a target="_blank" href="{{ site_url('/p') }}/{{ post.id }}"><i class="icon-large icon-ok" title="已发布"></i></a>
                  {% else %}
                  <i class="icon-large icon-exclamation-sign" title="未发布"></i>
                  {% endif %}
                </td>
                <td class="title">
                  <a href="{{ site_url('/backend/post') }}/{{ post.id }}" title="{{ post.author.display_name }} ~ {{ post.title }}">{{ post.title|slice(0, 12) }}</a>
                </td>
                <td class="category">
                  <div class="tags pull-right">
                    {% for category in post.categories %}
                    <span class="tag" data-category-id="{{ category.id }}">{{ category.name }}</span>
                    {% endfor %}
                  </div>
                </td>
                <td class="date">
                  {{ post.created_date }}
                </td>
                <td class="remove">
                  <a href="{{ site_url('/backend/post/') }}/{{ post.id }}/remove" data-command="remove" class="danger" title="删除">X</a>
                </td>
              </tr>
              {% endfor %}
            </table>
          </section>
        </section>
      </section>
    </div>
{% endblock %}
