<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}index{% endblock %} - backend</title>
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ static_url('css/flat-ui.css') }}" />
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}" />
    {% block afterhead %}
    {% endblock %}
  </head>
  <body>
    {% block main %}
    {% endblock %}
  </body>
  {% block afterbody %}
  {% endblock %}
</html>
