<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}index{% endblock %} - freshman</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ static_url('css/flat-ui.css') }}" />
    <link rel="stylesheet" href="{{ static_url('css/select2.css') }}" />
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}" />
    {% block afterhead %}
    {% endblock %}
  </head>
  <body>
    {% block main %}
    {% endblock %}
    {% block modal %}
    {% endblock %}
  </body>
  <script type="text/javascript" data-main="{{ static_url('js/backend') }}" src="{{ static_url('js/libs/require.js') }}"></script>
  {% block afterbody %}
  {% endblock %}
</html>
