    <div id="edit-user-modal-{{ user.id }}" class="modal hide fade edit-user">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" class="close" aria-hidden="true">&times;</button>
        <h3>{{ user.display_name }} 的信息</h3>
      </div>
      <div class="modal-body">
        <form action="" class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="login_name">登录名</label>
            <div class="controls">
              <input placeholder="登录名" type="text" name="login_name" value="{{ user.login_name }}"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"for="display_name">昵称</label>
            <div class="controls">
              <input placeholder="昵称" type="text" name="display_name" value="{{ user.display_name }}"/>
            </div>
          </div>
          <div class="control-group">
            <label for="password" class="control-label">密码</label>
            <div class="controls">
              <input placeholder="如果不打算改密码，请留空" type="password" name="password" />
            </div>
          </div>
          <div class="control-group">
            <label for="roles" class="control-label">用户权限</label>
            <div class="controls">
              <select multiple name="roles">
                {% for role in roles %}
                <option {% if role.id in user.role_ids %}selected{% endif %} value="{{ role.id }}">{{ role.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button class="btn btn-inverse pull-right" type="button" data-dismiss="modal">取消</button>
              <a class="btn btn-success pull-right submit" href="#" data-user-id="{{ user.id }}">保存</a>
            </div>
          </div>
        </form>
      </div>
    </div>
